.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(260px);

    button {
        margin-top: 10px;
        height: 60px;
        width: 100%;
        font-size: 1.3rem;
        font-weight: $bold;
        border-radius: 5px;
        background: none;

        @include hocus {
            outline: 0;
        }
    }
}

.cart-summary {
    height: 60vh;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}