.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    padding: 40px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(260px);
            transform: translateX(260px);
    overflow-y: scroll;

    button {
        margin-top: 10px;
        height: 60px;
        width: 100%;
        font-size: 1.3rem;
        font-weight: $bold;
        border-radius: 5px;
        background: none;

        @include hocus {
            outline: 0;
        }
    }
}

.cart-summary {
    height: 60vh;
    min-height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: scroll;
}