.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 90vw;
    height: 60px;
    background: $ghost-white;
    border-bottom: 3px solid $black;

    a {
        color: $black !important;
        font-size: 1.5rem;
        font-weight: bold;
    }

    button {
        color: $black !important;
        font-size: 1.2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background: none;
        border: none;

        @include hocus {
            outline: 0;
        }

        div {
            margin-right: 10px;
        }

        span {
            width: 25px;
            height: 2px;
            background-color: black;
            margin: 6px 0;
            display: block;
        }
    }
}