@import './mixins/index.scss';
@import './variables/index.scss';
@import './misc/index.scss';
@import './components/index';
@import './pages/index.scss';

* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}


body {
    background: $ghost-white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .12rem;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.wrapper {
    height: 100%;
    width: 100%;
    transform: translateX(0);
    transition: all 0.3s ease;
}

.wrapper-open-left {
    transform: translateX(200px);
}

.wrapper-open-right {
    transform: translateX(-260px);
}

.main-container {
    height: 100%;
    width: 100vw;
    z-index: 100;
}

.blur-main {
    opacity: 0.5;
}

.page {
    height: calc(100vh - 60px);
    width: 90vw;
    margin: 0 auto;
}